<section class="pagination">
	<input type="hidden" name="_csrf" value="<%= csrfToken %>">
	<% if (currentPage !== 1 && previousPage !== 1) { %>
			<a href="/p1">1</a>
	<% } %>
	<% if (hasPreviousPage) { %>
			<a href="/p<%= parseInt(previousPage) %>"><%= previousPage %></a>
	<% } %>
	<a href="/p<%= parseInt(currentPage) %>" class="<%= path === '/p:page' ? 'active' : '' %>"><%= currentPage %></a>
	<% if (hasNextPage ) { %>
			<a href="/p<%= parseInt(nextPage) %>"><%= nextPage %></a>
	<% } %>
	<% if (lastPage !== currentPage && nextPage !== lastPage) { %>
			<a href="/p<%= parseInt(lastPage) %>"><%= lastPage %></a>
	<% } %>
</section>