<%- include('../includes/head.ejs') %>


<body>
   <%- include('../includes/navigation.ejs') %>

<main>

<div class="add-product-container">
	<div class="add-product-panel">
		<div class="add-product-panel-header"><h1>Salut!</h1></div>
		<div class="add-product-panel-body">
			<form name="" action="/add-perslist" method="POST">
				<div class="input date">
					<label for="" class="labelDate">Introdu data</label>
					
					<input type="date" name="date" id="date" value="" class="inputDate" disabled >
					
		
	
				</div>
				<div class="inCheck">
					<!-- <label for="">Introdu data</label> -->
					<input type="checkbox" name="checkbox" id="" checked value="" class="inputCheck">
				</div>
				<div class="add-product-form-group">
					

					<li class="li-choose-category-of-product">
							
						
						<div class="add-product-listing-sorting-dropdown" id="js-sorting-collapse">
							<form action="/add-perslist">
								<input type="search" name="marca" id="marca" class="btn-choose-category-of-product jsHolder" value="" name="jsHolder marca" placeholder="Intodu numarul de marca: ">
								<% if(marca.length > 0) { %>
									<ul class="ul-dropdown-menu">
										<div class="test">
											
											<li class="li-product-listing-sorting-dropdown jsli">
												<% for (let mere of marca) { %>
												<a href="#" class="<%= path === '/add-perslist' ? 'active' : '' %> ajsli a-product-listing-sorting-dropdown" data-id=""><%= mere.marca %></a>
												<% } %>
											</li>
										</div>
										<% } %>
									</ul>
									
							</form>
						</div>
					</li>
				</div>
				<div class="btn-submit-add-product">
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<button type="submit" id="" name=""	class="btn-primary auth-btn">Continua</button>
				</div>
</div>
		
	</div>
</main>
<script>
	function _(element){
		return document.getElementById(element);
	}

		function fetch_data(parent_element, child_element, type){
			fetch('/get_dat?type='+type+'&parent_value='+parent_element.value+'')
			.then(function(response){
				return response.json();
			}).then(function(responseData){
				var html= '';

				if(type == 'load_marca'){
					html ='<input type="search" class="btn-choose-category-of-product jsHolder" value="" name="jsHolder" placeholder="Intodu numarul de marca: ">'
				}
				if(type == 'load_name')
				{
					html ='';
				}
				for(var count = 0; count <responseData.length; count++){
					html += '<input type="search" class="btn-choose-category-of-product jsHolder" value="'+responseData[count]+'" name="jsHolder" placeholder="Intodu numarul de marca: ">'+responseData[count]+ ''
				}
				child_element.innerHTML = html;
		});
	}
	_('marca').onchange = function(){
		fetch_data(_('marca'),'load_marca')
	};
	_('marca').onchange = function(){
		fetch_data(_('name'), 'load_name')
	}
</script>
<%- include('../includes/end.ejs') %>