<%- include('../includes/head.ejs') %>


</head>

<body>
   <%- include('../includes/navigation.ejs') %>


<table class="tableView">
	<% if(tbHeader.length > 0) { %>
  <tr>
		<% for(let tbHeaders of tbHeader) { %>
    <th class="thCrt"><%= tbHeaders.crt %></th>
		<th class="thMarca"><%= tbHeaders.marca %></th>
		<th class="thNume"><%= tbHeaders.nume %></th>
		<th class="thPrenume"><%= tbHeaders.prenume %></th>
		<th class="thLinia"><%= tbHeaders.linia %></th>
		<th class="thData">
			<div class="dropdownBonusPeopleList">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
				<span class="caret"></span></button>
				<% if(monthsList.length > 0) { %>
				<ul class="ulDropdownMenuBonusPeopleList">
					<% for(let monthsLists of monthsList) { %>
					<li><a href="#" class="linkdropdownBonusPeopleList"><%= monthsLists.months %></a></li>

					<% } %>
				</ul>
				<% } %>
			</div>
		</th>
		<th class="thBonus"><%= tbHeaders.bonus %></th>
		<% } %>
  </tr>
	<% } %>

  <% if(pepDet.length > 0) { %>
	<div class="test">
		<% for(let pepDete of pepDet) { %>
	<tr>
		<td class="tdCrt"><%= pepDete.id %></td>
		<td class="tdMarca"><%= pepDete.marca %></td>
		<td class="tdNume"><%= pepDete.nume %></td>
		<td class="tdPrenume"><%= pepDete.prenume %></td>
		<td class="tdLinia"><%= pepDete.linia %></td>
		<td class="tdData"><%= moment(pepDete.createdAt).format("MMMM") %></td>
		<td class="tdBonus"> RON <%= pepDete.bonus %></td>
	</tr>
	<% } %>
</div>
<% } %>
  
</table>

<%- include('../includes/end.ejs') %>